<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Incluye las configuraciones base por defecto de Spring -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <!-- Patrón personalizado para tu consola local (Desarrollo) -->
    <property name="CUSTOM_CONSOLE_LOG_PATTERN" 
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36} - %msg%n" />

    <!-- 1. APPENDER: Consola estándar unificada utilizando tu patrón con colores -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CUSTOM_CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- ======================================================================= -->
    <!-- PERFIL DE PRODUCCIÓN (Docker / Grafana Alloy)                           -->
    <!-- ======================================================================= -->
    <springProfile name="prod">
        <!-- Guardar logs en el volumen compartido de Docker en formato JSON puro -->
        <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/app/logs/users.log</file>
            
            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>/app/logs/archived/users-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                <maxFileSize>10MB</maxFileSize>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <loggerName/>
                    <logLevel/>
                    <threadName/>
                    <message/>
                    <stackTrace/>
                    <mdc/> <!-- Inyecta trace_id y span_id de OpenTelemetry -->
                </providers>
            </encoder>
        </appender>

         <!-- Logger de nuestra aplicación en modo INFO para el taller -->
        <logger name="co.com.netec.users" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON_FILE" />        
        </logger>

        <!-- Muestra los SQLs formateados en la consola y Loki -->
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON_FILE" />
        </logger>
        
        <!-- Muestra los valores reales que se inyectan en los parámetros (?, ?) -->
        <logger name="org.hibernate.orm.jdbc.bind" level="TRACE" additivity="false">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON_FILE" />
        </logger>

        <!-- Configuración raíz para producción -->
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="JSON_FILE"/>
        </root>
    </springProfile>    

    <!-- ======================================================================= -->
    <!-- PERFIL DE DESARROLLO / LOCAL (Tu máquina física)                        -->
    <!-- ======================================================================= -->
    <springProfile name="!prod">
         <logger name="co.com.netec.users" level="INFO" additivity="false">
            <appender-ref ref="CONSOLE" />    
        </logger>
        <!-- Muestra los SQLs en la consola local -->
        <logger name="org.hibernate.SQL" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE" />
        </logger>

        <!-- Configuración raíz para desarrollo local -->
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
</configuration>
